<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="hero-body">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="hero-image">
          <!-- {% if page.image %} -->
          <header data-cover class="loaded" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;{{ page.image }}&quot;) 49.9% 49.9% / cover;">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          </header>
          <!-- {% endif %} -->
      </div>
      
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
